services:
  app:
    build: .
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env
    command: python main.py
  db:
    image: postgres:latest
    ports:
      - 8001:5432
    env_file:
      - .env
    environment:
      - POSTGRES_DB=graph